.user-component-chats__column{
    display: flex;
    padding-top: 120px;
    align-items: center;

}

.user-component-chats__column:last-child{
    flex-direction: column;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.5);
}



