.alt-header{
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0px var(--horizontal-space);
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 40px;
}

.alt-header-title{
    font-weight: 600;
    font-size: 25px;
    text-align: center;

}

.alt-header__column{
    width: 33%;
}
.alt-header__column:last-child span:not(first-child) {
    margin-left: 20px;
}

.alt-header__column:last-child{
    justify-content: flex-end;
    display: flex;
}
