.badge{
    background-color: tomato;
    color: white;
    font-weight: 600;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}