.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 50px 25px 25px 25px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    top:0;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
   margin-left: 25px; 
}