.user-component{
    justify-content: space-between;
    display: flex;
}

.user-component-default__column{
    display: flex;
    padding-top: 160px;
    align-items: center;
}
.user-component-friends__column{
    display: flex;
    align-items: center;
}
.user-component__column{
    align-items: center;
    display: flex;
}

.user-component__avata{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 25px;
}

.user-component__title{
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avata--xl{
    width: 80px;
    height: 80px;
}


.user-component__avata--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 400;
    font-size: 20px;
}


.user-component-friends__column:last-child{
    color: rgba(0, 0, 0, 0.5);
}

.user-component-more__column{
    display: flex;
    padding-top: 110px;
    align-items: center;
}



